@charset "UTF-8";

.btn_area {
	clear:both;
	width:100%;
}
.v-btn {
	display: inline-block;
	padding-top:0;
	padding-bottom:0;
	padding-left:.5rem;
	padding-right:.5rem;
	min-width:10px;
	border-radius: 20px;
	font-size:1rem;
	font-weight: 700;
	color:#202020;
	.v-btn__content {
		width:100%;
		height:inherit;
		line-height:inherit;
		font-size:inherit;
		font-weight: inherit;
		color:inherit;
	}
	&.btn-primary {
		background-color: #3145FF !important;
		color:#fff;
	}
	&.btn-full {
		width:100%;
	}
	&.btn-ic { // 32 X 32
		width:2rem;
		height:2rem;
		background: {
			repeat: no-repeat;
			position: center center;
			size: 2rem;
		}
	}
}

