@charset "UTF-8";
@import 'mixins';

.main_navtab {
	margin-bottom:2rem;
	.tabs {	
		float:left;
		margin-right:1rem;
		font-size:1.125rem;
		font-weight: 700;
		color:rgba(255,255,255, .4);
		p {
			font-size:inherit;
			font-weight: inherit;
			color:inherit;
		}
		&.active {
			color:#fff;
		}
	}
	&:after {
		@extend %clearer
	}
}

.main-wrap {
	position:relative;
	min-height:100%;
}

[class^='stamp_'] {
	position:absolute;
	right:0;
	bottom:0;
	width:6.25rem;
	height:6.25rem;
	background: {
		size: cover;
		repeat: no-repeat;
		position: center center;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	p {
		font-size:0.875rem;
		font-weight: 700;
		color:#826DFF;
		span {
			display: block;
			font-size:0.625rem;
			font-weight: 700;
			color:inherit;
		}
	}
}
.stamp_time {
	background-image: url(../assets/images/main/stamp_live-time.png);
}
.stamp_challenge {
	background-image: url(../assets/images/main/stamp_challenge.png);
}
.stamp_ans-select {
	background-image: url(../assets/images/main/stamp_ans-select.png);
}