@charset "UTF-8";
@import 'mixins';

@font-face {
	font-family: 'NotoSansKR'; font-style: normal; font-weight: 300;
	src: url(/assets/fonts/NotoSans-Light.eot) format('eot');
	src: local('※'), url(/assets/fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype');
	src: url(/assets/fonts/NotoSans-Light.woff) format("woff");
}
@font-face {
	font-family: 'NotoSansKR'; font-style: normal; font-weight: 350;
	src: url(/assets/fonts/NotoSans-DemiLight.eot) format('eot');
	src: local('※'), url(/assets/fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype');
	src: url(/assets/fonts/NotoSans-DemiLight.woff) format("woff");
}
@font-face {
	font-family: 'NotoSansKR'; font-style: normal; font-weight: 400;
	src: url(/assets/fonts/NotoSans-Regular.eot) format('eot');
	src: local('※'), url(/assets/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype');
	src: url(/assets/fonts/NotoSans-Regular.woff) format("woff");
}
@font-face {
	 font-family: 'NotoSansKR'; font-style: normal; font-weight: 600;
	 src: url(/assets/fonts/NotoSans-Medium.eot) format('eot');
	 src: local('※'), url(/assets/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype');
	 src: url(/assets/fonts/NotoSans-Medium.woff2) format('woff2'),
				url(/assets/fonts/NotoSans-Medium.woff) format('woff'),
				url(/assets/fonts/NotoSans-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansKR'; font-style: normal; font-weight: 700;
	src: url(/assets/fonts/NotoSans-Bold.eot) format('eot');
	src: local('※'), url(/assets/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype');
	src: url(/assets/fonts/NotoSans-Bold.woff) format("woff");
}
@font-face {
	font-family: 'NotoSansKR'; font-style: normal; font-weight: 900;
	src: url(/assets/fonts/NotoSansCJKkr-Black.eot) format('eot');
	src: local('※'), url(/assets/fonts/NotoSansCJKkr-Black.eot?#iefix) format('embedded-opentype');
	src: url(/assets/fonts/NotoSansCJKkr-Black.woff) format("woff");
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, 
big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, 
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary,time, mark, audio, video {
	margin: 0;padding: 0; vertical-align: middle; letter-spacing: 0; font-size: 16px;;word-break:keep-all;font-weight: 400;
}
fieldset,img, textarea {border: 0;outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
img {max-width:100%;}
button,input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none;border:0; }
body {-webkit-text-size-adjust:none;}
ol, ul {list-style: none;}
address,em {font-style: normal}
h1,h2,h3,h4,h5,h6 {font-weight: 400;}
div {word-break: keep-all;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}
embed {
	border:0;margin:0; 
	-webkit-text-size-adjust:none;
}
input::-ms-clear {
	display: none;
}
::-webkit-input-placeholder{
	font-size: 14px;
	font-weight: 300;
	color:#999;
}
::-moz-placeholder{
	font-size: 14px;
	font-weight: 300;
	color:#999;
}
::-ms-placeholder {
	font-size: 14px;
	font-weight: 300;
	color:#999;
}

input,button,select {vertical-align:middle;}
button {cursor:pointer; border:none; margin:0; padding:0;background-color: rgba(255,255,255, 0);outline:none;}
* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	font-family: 'NotoSansKR', 'Helvetica', 'Malgun Gothic', sans-serif;
	color: #000000;
	line-height:normal;
	&:focus {
		outline: none;
	}
}
*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-style: none;
  margin: 0;
  padding: 0;
}

.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.skipnavigation {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		display: block;
		font-size: 0;
		background-color: #FFF;
		text-align: center;
		&:focus {
			height: 30px;
			padding: 4px 0;
			visibility: visible;
			font-size: 1em;
		}
	}
}

.noscroll {
	overflow: hidden!important;
	height: 100%;
	.wrap {
		overflow: hidden;
	}
}

// Component
.chkwrap {
  display: block;
	label {
		position:relative;
		display: inline-block;
		cursor: pointer;
		input[type=checkbox] {
			position: absolute;
			left:0;
			border:0;
			width:0;
			height:0;
			z-index: -1;
			visibility: hidden;
			+ span {
				color:#999999;
			}
			&:checked{
				+ span {
					color:#fff;
				}
			}
		}
	}
}

.tabs-container {
	.tabs-menu {
		&:after {
			@extend %clearer
		}
	}
	._tab {
		float:left;
		color:#fff;
		a, button {
			color:inherit;
			font-size:inherit;
			font-weight: inherit;
		}
	}
}

.single-link {
	display: block;
	font-size:1.25rem;
	font-weight: 600;
	.point {
		display: inline;
		padding:8px 10px 7px;
		border-radius: 20px;
		background:#1F1F1F;
		font-size:inherit;
		font-weight:700;
		color:inherit;
		vertical-align: middle;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		&._orange {
			background:#DF5931;
		}
		&._purple {
			background:#5934D5;
		}
	}
	span {
		display: block;
		margin-top:8px;
		font-size:0.875rem;
		color:#999999;
	}
}

.modal-popup {
	position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  display: table;
  text-align: center;
  transition: opacity 0.3s ease;
  color:#fff;

	.modal-head {
		position:relative;
		width:100%;
		height: 4rem;
	}

	.modal_btn-close {
		position:absolute;
		right:20px;
		top:14px;
		width:2.25rem;
		height:2.25rem;
		color:#fff;
		div {
			position:relative;
			width:100%;
			height:100%;
			> span:not(.a11y){
				position: absolute;
				top: 45%;
				left: 15%;
				width: 24px;
				height: 2px;
				background-color: #fff;
			}
		}
		.line01 {
			transform: rotate(135deg) translateX(0%);
		}
		.line02 {
			transform: rotate(45deg) translateX(0%);
		}

		&.black {
			> span:not(.a11y){
				background-color: #000;
			}
		}
	}

	.modal-inner {
		height:calc(100% - 64px);
		padding-left:1.5rem;
		padding-right:1.5rem;
		padding-bottom:60px;
		text-align: left;
		overflow-y: auto;
		h3 {
			margin-bottom:1.25rem;
			font-size:1.5rem;
			font-weight: 700;
			color:#fff;
		}
	}
}

.list_wrap {
	position:relative;
	.list_box {
		overflow: auto;
	}
	.v-list-item {
		min-height:inherit;
		padding:0;
	}
}

// Vuetify reset
[class*='theme--'] {
	// .theme--light {
	&.v-application {
		background-color: #202020;
		p {
			margin-bottom:0;
		}
		ul, ol {
			padding-left:0;
		}
		a {
			color: inherit;
		}
	}
	&.v-btn {
		box-shadow: none;
		&:before {
			display: none;
		}
		&:not(.v-btn--round){
			&.v-size--default {
				min-width:auto;
				padding:inherit;
			}
		}
		&.v-btn--has-bg {
			background-color: transparent;
		}
	}
	&[class*='v-list'],
	&.v-card {
		background-color: transparent;
		box-shadow: none !important;
	}
	.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
		background-color: transparent;
	}
}
