@charset "UTF-8";
@import 'mixins';
@import 'icons';

// Colors
.colr_yellow {display:inline;color:#FFE600 !important;}
.colr_white {display:inline;color:#fff !important;}
.colr_green {display:inline;color:#00FF38 !important;}

// SignIn 
.sign-wrap {
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
	width:calc(100% - 4rem);
	p {
		font-size:1.125rem;
		line-height:1.4;
		color:#fff;
	}
	.btn_area {
		margin-top:3rem;
	}
	[class*='btn_login'] {
		&.v-btn {
			display: block;
			margin-top:1rem;
			height:3.75rem;
			line-height:3.75;
			background: {
				repeat: no-repeat;
				position: left 1rem center;
				size: 20px;
			}
			font-size:1rem;
			font-weight: 700;
			color:#fff;
		}
	}
	.btn_login {
		display: block;
		&:first-child {
			margin-top:0;
		}
		&-naver {
			&.v-btn {
				background : {
					color: #59C451;
					image: url(../assets/icons/ico_naver.png);
					size: 17px;
				}
				color:#fff;
			}
		}
		&-kakao {
			&.v-btn {
				background : {
					color: #F8DF02;
					image: url(../assets/icons/ico_kakao.png);
				}
				color:#202020;
			}
		}
		&-join {
			&.v-btn {
				background-color:#474747;
			}
		}
	}
}

// Interest
.interest-wrap {
	padding-top:15.557%;
	text-align: center;
	h2 {
		max-width:60%;
		margin:0 auto;
		font-size:1.5rem;
		color:#fff;
		p {
			margin-top:5px;
			font-size:1rem;
			color:#999999;
		}
	}
	.choice-list {
		margin-top:4px;
		[class^='_item'] {
			background: {
				position:center center;
				repeat: no-repeat;
			}
		}
		.v-input__control, .v-input__slot {
			height:100%;
		}
		._item01 {
			width:210px;
			height:210px;
			background: {
				image: url(../assets/images/common/interest_type01-off.png);
				size: 210px;
			}
		}
		._item02 {
			width:180px;
			height:180px;
			background: {
				image: url(../assets/images/common/interest_type02-off.png);
				size: 180px;
			}
		}
		._item03 {
			width:200px;
			height:200px;
			background: {
				image: url(../assets/images/common/interest_type03-off.png);
				size: 200px;
			}
		}
		._item04 {
			width:180px;
			height:180px;
			background: {
				image: url(../assets/images/common/interest_type04-off.png);
				size: 180px;
			}
		}
		._item05 {
			width:190px;
			height:190px;
			background: {
				image: url(../assets/images/common/interest_type05-off.png);
				size: 190px;
			}
		}
		.v-input--is-label-active {
			&._item01 {
				background-image: url(../assets/images/common/interest_type01-on.png);
			}
		}
		._item {
			label {
				text-align:center;
				input[type=checkbox] {
					&:checked{
						+ span {
							background-color: #5048FF;
							color:#fff;
						}
					}
				}
			}
			span {
				display: inline-block;
				min-width:5.313rem;
				height:2.5rem;
				padding-top:9px;
				padding-left:10px;
				padding-right:10px;
				border-radius: 40px;
				background-color: #5F5F60;
				font-size:0.875rem;
				font-weight: 700;
				color:#fff;
			}
		}
	}
	.fixed-bottom {
		position:fixed;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		background: rgba(32,32,32, 0.9);
		.row {
			min-height:5.5rem;
		}
		.hashs {
			position:absolute;
			left:0;
			top:50%;
			@include transform(translateY(-50%));
			width: 60%;
			span {
				display: inline-block;
				font-size: 0.875rem;
				font-weight: 700;
				color: rgba(255,255,255, 0.7);
			}
		}
		.btn_confirm {
			position:absolute;
			right:0;
			top:50%;
			@include transform(translateY(-50%));
			height:2.5rem;
			line-height:2.5;
			padding-left: 2.15rem;
			padding-right: 2.15rem;
			border-radius: 71px;
			background-color:#5048FF;
			color:#fff;
		}
	}
}

// Card case
.card-case {
	a {
		display: block;
		width:100%;
		height:100%;
	}
	.card {
		width:100%;
		padding:1.25rem;
		margin-bottom:1.5rem;
		border-radius: 14px;
		text-align: left;
		overflow: hidden;
	}
	.card_cont {
		position:relative;
		.heading {
			position: absolute;
			top:0;
			left:0;
			max-width:10.813rem;
			font-size:2.5rem;
			font-weight:900;
			line-height:1.3;
			color:#fff;
			z-index: 2;
			vertical-align: middle;
			.date {
				display: block;
				margin-top:1rem;
				// font-weight: 600;
				color:inherit;
			}
		}
		.answer {
			position:relative;
			padding-right:15%;
			margin-top:1.625rem;
			margin-bottom:6.25rem;
			font-size:0.875rem;
			@include ellipse(1);
			color:rgba(255,255,255, 0.72);
			strong {
				display: inline;
				font-size:inherit;
				font-weight: 700;
				color:#59E3C2;
				vertical-align: top;
			}
			.date {
				position:absolute;
				right:0;
				top:0;
				font-size:inherit;
				color:inherit;
			}
		}
	}

	.figure {
		position:relative;
		width:100%;
		height:0;
		padding-bottom:100%;
		right:-9.6%;
		text-align: center;
		overflow: hidden;
		svg {
			top:0;
			right:0;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
		mask rect {
			fill: rgba(255, 255, 255, 1);
		}
		img {
			position:absolute;
			left:50%;
			top:50%;
			@include transform(translate(-50%, -50%));
			width:100%;
			height:100%;
			z-index: 0;
		}
		.vod {
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}

		.fig-type01 {
			& > rect {
				fill: #5934D5;
				-webkit-mask: url(#maskType01);
				mask: url(#maskType01);
			}
		}
		.fig-type02 {
			& > rect {
				fill: #EA3BF6;
				-webkit-mask: url(#maskType02);
				mask: url(#maskType02);
			}
		}
		.fig-type03 {
			& > rect {
				fill: #FFF960;
				-webkit-mask: url(#maskType03);
				mask: url(#maskType03);
			}
		}
		.fig-type04 {
			& > rect {
				fill: #60BCFF;
				-webkit-mask: url(#maskType04);
				mask: url(#maskType04);
			}
		}
		@media screen and (min-width:768px) {
			right:-11%;
		}
	}

	.wrt_info {
		figure {
			display: inline-block;
			width:34px;
			height:34px;
			border-radius: 50%;
			overflow: hidden;
		}
		.wrt {
			display: inline-block;
			max-width:40%;
			margin-left:6px;
			font-size:0.875rem;
			font-weight: 600;
			color:#fff;
			word-break:break-all;
		}
		.parti {
			display: inline-block;
			margin-left:10px;
			font-weight: 600;
			font-size:0.875rem;
			i {
				margin-right:3px;
			}
			span {
				display: inline-block;
				margin-top:-2px;
				font-size: inherit;
				font-weight: inherit;
				color:rgba(255,255,255, .4);
				&.now {
					margin-right:5px;
					color:#fff;
				}
			}
			background: {
				size: 18px;
				repeat: no-repeat;
				position: left center;
			}
			&._live {
				background: {
					image: url(../assets/icons/ico_user-count.png);
				}
			}
			&._vod {
				background: {
					image: url(../assets/icons/ico_user-vod.png);
				}
			}
		}
	}
	.quest_list {
		._item {
			position:relative;
			padding:0.875rem 1.25rem 0.9rem;
			margin-bottom:1rem;
			border-radius: 16px;
			background-color: #1F1F1F;
			font-size:1.125rem;
			font-weight: 600;
			line-height:1.4;
			color:#fff;
			&:after {
				content: '';
				position:absolute;
				right:-3px;
				bottom:-6px;
				display: block;
				width:12px;
				height:19px;
				background: {
					image: url(../assets/images/common/bubble_tail.png);
					size:12px;
					repeat: no-repeat;
					position:0 0;
				};
			}
			a {
				max-height:2.813rem;
				font-size:inherit;
				font-weight: inherit;
				line-height:inherit;
				color:inherit;
				@include ellipse(2);
			}
		}
	}
}
.card-template01 {
	background-color:#5934D5;
	.wrt_info {
		.wrt {
			max-width:21%;
		}
	}
}
.card-template02 {
	background-color:#EA3BF6;
}
.card-template03 {
	background-color:#FFF960;
	.card_head {
		.head-live {
			color:#FF24C2;
			span {
				color:#000;
			}
		}
	}
	.card_cont {
		.heading { 
			color:#000;
		}
	}
	.wrt_info {
		.wrt {
			color:#000;
		}
		.parti {
			span.now {
				color:#000;
			}
		}
	}
}
.card-template04 {
	background-color:#60BCFF;
}
.card-black {
	background-color:#000;
	.card_cont {
		padding-top:0;
	}
	.single-link {
		line-height:2;
	}
}
.card-purple {
	background-color:#5934D5;
	.card_cont {
		.heading {
			position:relative;
			max-width:90%;
		}
	}
}
.card_head {
	position:relative;
	margin-bottom:1rem;
	p {
		display: inline-block;
		font-size:0.875rem;
		font-weight: 700;
		color:#fff;
		span {
			display: inline-block;
			margin-top:-1px;
			margin-left:8px;
			font-size:0.875rem;
			font-weight: inherit;
			color:#fff;
		}
	}
	.btn-locked {
		position:absolute;
		right:-5px ;
		top:0;
		width:2rem;
		background-color: transparent;
	}
	.head-live {
		color:#DEF241;
	}
	.head-vod {
		color:#31C1FF;
	}
	.head-question {
		color:#BA47E3;
	}
	.head-notice {
		color:#fff;
	}
}
